@use './variables';

html { 
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

a{
  position: relative;

  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    display: inline-block;
    content: '';
    background-color: variables.$white;
    transition: all 0.3s ease;
  }

  &:hover{
    &:after{
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}