@use './variables';

html { 
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: variables.$darkgray;
  color: variables.$white;
}

a{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 1.95rem;
  position: relative;
  color: variables.$white;
  transition: all 0.3s ease;

  &:after{
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    display: inline-block;
    content: '';
    background-color: variables.$white;
    transition: all 0.3s ease;
  }

  &:hover{
    color: variables.$purple;
    transition: all 0.3s ease;

    &:after{
      transition: all 0.3s ease;
      background-color: variables.$purple;
    }
  }
}