$container-width: 136rem;
$gap: 2rem;

@for $i from 1 through 12{
  .col#{$i} {
    flex-basis: calc((100%/12) * #{$i});
  }
}
.container{
  max-width: $container-width;
  margin: 0 auto;

  .row{
    display: flex;
    margin-left: calc($gap / 2 * -1);
    margin-right: calc($gap / 2 * -1);

    & > div {
      padding-left: calc($gap / 2);
      padding-right: calc($gap / 2);
    }

    .test{
      background: rgb(123, 123, 123);
    }
  }  
}


