$gap: 2rem;

@for $i from 1 through 12{
  .col-#{$i} {
    flex-basis: calc((1/12)*#{$i});
  }
}

.row{
  display: flex;

  & > div:not(:first-of-type):not(:last-of-type) {
    padding-left: calc($gap / 2);
    padding-right: calc($gap / 2);
  }

  & > div:first-of-type{
    padding-left: 0;
    padding-right: calc($gap / 2);
  }

  & > div:last-of-type{
    padding-left: calc($gap / 2);
    padding-right: 0;
  }
}

