$white: #ffffff;
$black: #000000;

$darkgray: #252525;
$purple: #AD00FF;
$purple-light: #c150f7;
$purple-lightest: #f8e9ff;

$container-width: 137.6;
$gap: 1.6rem;


$breakpoints: ("xs": "0", "sm": "576px", "md": "768px", "lg": "992px", "xl": "1200px", "2xl": "1400px", "3xl": "1800px");

$font-main: 'Raleway', sans-serif;
$font-secondary: 'Lato', sans-serif;