$white: #ffffff;
$black: #000000;

$darkgray: #252525;
$purple: #AD00FF;

$container-width: 136rem;
$gap: 2rem;

$breakpoints: ("xs": "0", "sm": "576px", "md": "768px", "lg": "992px", "xl": "1200px", "2xl": "1400px", "3xl": "1800px");