@use '../../../styles/global';

.main-nav{
  background-color: global.$darkgray;
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  height: 10.9rem;

  @include global.media-up(lg){
    padding: 7rem 0;  
  }

  &__logo{
    font-family: global.$font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: lowercase;
    position: relative;
    z-index: 20;
  }

  .main-menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 100vh;
    z-index: 10;
    flex-direction: column;
    background: rgb(81,30,69);
    background: linear-gradient(90deg, rgba(81,30,69,1) 0%, rgba(64,30,81,1) 100%);
    width: 100%;
    height: 100vh;

    @include global.media-up(lg){
      position: static;
      flex-direction: row;
      background: none;
    }
    
    &.active{
      left: 0;  
    }
    

    li{
      &:first-of-type{
        padding: 0 2.5rem 0 0;
      }

      &:not(:first-of-type), &:not(:last-of-type){
        padding: 0 2.5rem;
      }
      
      &:last-of-type{
        padding: 0 0 0 2.5rem;
      }

      &.main-menu__item{
        font-family: global.$font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: lowercase;

        .main-menu__link{
          &:after{
            width: 0%;
          }
        }
      }
    }
  }

  &__hamburger{
    position: absolute;
    top: 39px;
    right: 30px;
    width: 2.1rem;
    height: 2.1rem;
    z-index: 20;
    background-color: rgba(255, 199, 32, 0.4);

    span{
      position: absolute;
      background-color: global.$black;
      display: inline-block;
      height: 3px;
      width: 1.75rem;
      border-radius: 20px;

      &:first-of-type{
        transform: rotate(45deg);
        top: 0.9rem;
        left: -0.4rem;
        width: 2.9rem;
      }
      &:nth-of-type(2){
        top: 2rem;
        opacity: 0;

      }
      &:last-of-type{
        transform: rotate(-45deg);
        top: 0.9rem;
        width: 2.9rem;
        left: -0.4rem;
      }
    }
  }
}