@use '../../../styles/global';

  .main-menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-top: 15.8rem;
    left: 0;
    z-index: 10;
    flex-direction: column;
    background: rgb(81,30,69);
    background: linear-gradient(90deg, rgba(81,30,69,1) 0%, rgba(64,30,81,1) 100%);
    width: 100%;
    height: 100vh;
    opacity: 0;
    top: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    @include global.media-up(lg){
      justify-content: flex-end;
      padding-top: 0;
      position: static;
      flex-direction: row;
      background: none;
      opacity: 1;
      visibility: visible;
    }
    .main-menu__item{
        font-family: global.$font-main;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: lowercase;

        &:first-of-type{
          padding: 0 2.5rem 0 0;
        }
  
        &:not(:first-of-type), &:not(:last-of-type){
          padding: 0 2.5rem;
        }
        
        &:last-of-type{
          @include global.media-up(lg){
            padding: 0 0 0 2.5rem;  
          }
          
        }

        .main-menu__link{
          &:after{
            width: 0%;
          }
        }
      }
    &.active{
      left: 0;
      transition: all 0.4s ease;
      opacity: 1;
      visibility: visible;
      justify-content: flex-start;

      .main-menu__item{
        @include global.media-down(lg){
          text-align: center;
        }

        .main-menu__link{
          @include global.media-down(lg){
            padding-bottom: 2.8rem;
            display: inline-block;
          }
        }
      }
    }
  }

  