@use '../global/variables';
@use 'sass:math';

// https://www.sitepoint.com/understanding-sass-units/
$colWidth:  math.div(variables.$container-width, 12) * 1rem;
// $colWidth:  variables.$container-width;

.container{
  max-width: variables.$container-width;
  margin: 0 auto;

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(variables.$gap / 2 * -1);
    margin-right: calc(variables.$gap / 2 * -1);

    .col{
      padding-right: 1rem;
      padding-left: 1rem;
      flex-basis: 100%;
    }

    @each $breakpointName, $breakpointValue in variables.$breakpoints {
      $indexBreakpoint: index((variables.$breakpoints), ($breakpointName, $breakpointValue));
    
      @media screen and (min-width:#{$breakpointValue}){
        @for $i from 1 through 12{
          .col-#{$breakpointName}-#{$i} {
            flex-basis: calc(#{$colWidth} * #{$i});
          }
        }
      }
    }
  }  
}


