@use '../global/variables';
@use 'sass:math';

$colWidth:  (round(math.div(variables.$container-width, 12) * 10) / 10) * 1rem;

.container{
  max-width: calc((variables.$container-width + variables.$containerHorizontalPadding * 2) * 1rem);
  padding: 0 calc(variables.$containerHorizontalPadding) * 1rem;
  margin: 0 auto;

  .row{
    display: flex;
    margin-left: calc(variables.$gap / 2 * -1);
    margin-right: calc(variables.$gap / 2 * -1);
    justify-content: flex-start;
    align-items: flex-start;
    // flex-wrap: wrap;

    .col{
      padding-right: 1rem;
      padding-left: 1rem;
      // flex-basis: 100%;
      // flex-grow: 0;
      // max-width: 100%;
    }

    @each $breakpointName, $breakpointValue in variables.$breakpoints {
      $indexBreakpoint: index((variables.$breakpoints), ($breakpointName, $breakpointValue));
      $breakpointValuePx: $breakpointValue * 1px;

      @media screen and (min-width:#{$breakpointValuePx}){
        @for $i from 1 through 12{
          .col-#{$breakpointName}-#{$i} {
            width: calc(#{$colWidth} * #{$i});
          }
        }
      }
    }
  }  
}


