@use '../../../styles/global/' as global;

.rounded-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
    .rounded-button__button{
        border: 0.1rem solid global.$purple;
        position: relative;
        border-radius: 5rem;
        text-decoration: none;
        text-transform: lowercase;
        padding: 1.1rem 6.1rem 0.9rem 3rem;
        display: inline-block;

        &:after{
            position: absolute;
            background: none;
        }

        &:hover{
            box-shadow: 0px 0px 62px -9px rgba(173, 0, 255, 1);
            border: 0.1rem solid global.$purple-light;
            color: global.$purple-lightest;

            svg{
                position: absolute;
                top: 1.2rem;
                right: 2.5rem;
                stroke: global.$purple-lightest;
                transition: all 0.3s ease;
            }
        }

        &--onlyborder{
            background: none;
            color: global.$white;
        }

        svg{
            position: absolute;
            top: 1.2rem;
            right: 3rem;
            stroke: global.$white;
            transition: all 0.3s ease;
        }
    }
    
    &--right{
        justify-content: flex-end;
    }

    &--position-absolute{
        position: absolute;
        bottom: 0;
    }
}
